// an extendable template for a box

html
  font-family: InterVariable
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

%box
  //border: 1px solid #ccc
  outline: 1px solid #ccc
  padding: 10px
  color: #333
  border-radius: 10px

%center
  justify-content: center
  align-items: center
  display: flex



header
  @extend %center
  width: 100%
  padding: 1rem
  h1
    width: min-content

main
  height: 100%
  display: grid
  grid-template-columns: 1fr 2fr
  grid-template-rows: 16rem 32rem
  grid-template-areas: 'o d' 'f f'

  margin: 2rem
  overflow: hidden
  @extend %box

#order
  padding: 2rem
  grid-area: o

#display
  @extend %box
  border-top: 0px solid black
  transition: all .3s

  grid-area: d
  padding: 0 2rem 2rem 2rem
  
  overflow: none

  border-top-width: 1rem

  h2, ul, li, p
    margin: 0
  
  h4
    opacity: 0
    margin-bottom: .2rem
    font-weight: 500

  h5, h2
    margin-bottom: 1rem

  ul
    min-width: max-content
    display: flex
    list-style: none
    padding-left: 1rem
    li
      margin: 0.5em 0.2em
      border: 1px #ccc solid
      font-size: .7em
      padding: 0.5em

      border-radius: 8px

#order, #display
  h2
    margin-top: 0

#flavorSection
  grid-area: f
  h2
    margin-left: 1rem

#flavors
  display: flex
  flex: 1
  flex-wrap: wrap
  gap: 10px
  padding: 1rem

  a
    // extend the box styles to the anchor
    @extend %box

    width: 30%
    height: 8rem
    top: 0px

    transition: all .1s ease-in-out

    position: relative

    border-bottom-width: 4px

    border-bottom: 0px solid black

    // set the cursor to pointer to convey interactivity
    cursor: pointer

    // hide overflow
    overflow: hidden
    & *
      user-select: none

    h4
      margin: 0

    p
      position: relative
      left: 0
      transition: all .3s ease-in-out
      opacity: 0%

    &:hover

      border-bottom-width: 1rem
      top: -10px
      box-shadow: rgba(0, 0, 0, 0.24) 3px 6px 8px

      p
        left: 3px
        opacity: 100%
